.info-section {
  background-color: #f9f8f5;
  border-radius: 8px;
  padding: 30px;
  margin: 30px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.info-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.info-description {
  font-size: 16px;
  color: #555;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.formulario-contacto input,
.formulario-contacto textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: border-color 0.3s;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus {
  border-color: #ffa751;
  outline: none;
}

.formulario-contacto button {
  background-color: #f7c31b;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.formulario-contacto button:hover {
  background-color: #000000;
  color: #f7c31b;
}

.map-container {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}