.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  
}

.card {
  background: #f9f8f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px;
  width: 80%;
  max-width: 1000px;

}

.card h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.card p, .card li {
  font-size: 18px;
  line-height: 1.6;
}

.conteudo-curso ul {
  list-style-type: "✔️";
  padding-left: 20px;
}

.info-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.info-box {
  background-color: #e7e7e7;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-cursos-button{
  width: 300px;
  height: 70px;
  font-size: 24px;
  background-color: #f7c31b;
  color: #000;
  border: none;
  padding: 12px 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-cursos-button:hover{
   color: #f7c31b;
  background-color: #000;
}

.back-cursos-button:active {
  transform: scale(0.95);
}

