.termos-privacidade-section {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #333;
}

.termos-privacidade-container{
  display: flex;
  flex-direction: column;
  background-color: #f9f8f5;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 30px auto;
  padding: 30px;
  gap: 15px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.grid-title {
  font-size: 2.4rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.termos-privacidade-intro {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.termos-privacidade-subtitle {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.termos-privacidade-section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.termos-privacidade-footer {
  font-size: 0.9rem;
  color: #777;
  margin-top: 40px;
  text-align: right;
}