.prof-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 248, 245);
  max-width: 1000px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgb(238, 238, 238);
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.prof-info-img {
  flex: 0 0 160px; /* imagem com largura fixa */
  height: 160px;
  padding-right: 30px;
}

.prof-info-img img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 12px;
}

.prof-info-description {
  flex: 1;
  max-width: 600px;
}

.prof-info-description h2 {
  margin-top: 0;
  font-size: 24px;
}

.prof-info-description span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.prof-info-description p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}